\.vscode
\.DS_Store
\output.exe
tmp
notes
log.txt
\out
\output.ppm
*.dSYM
\graphics

# CLion-specific and CMake files
cmake-build-*/
.idea/

# Build outputs
*.o
*.a
*.so
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb

# Temporary files
*.swp
*~
.*.swp
.*.swo

# Other files to ignore
.DS_Store
Thumbs.db
